* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --dark-grey: #66768a;
  --light-grey: #dbdfe2;
}
/* 
==========
Header
==========
*/
ul {
  list-style: none;
  padding: 1rem;
}
li {
  color: white;
  display: inline-block;
  margin: 0;
  padding: 0.5rem;
}
.header {
  display: grid;
  grid-template-columns: repeat(3, 33.333%);
  place-items: center;
  background: var(--dark-grey);
}

.logo-container {
  display: flex;
  /* justify-content: center; */

  justify-content: center;
}

.nav-btn {
  border-radius: 5px;
  background: white;
  padding: 1rem;
  font-weight: bold;
  color: var(--dark-grey);
}
/* 
==========
Hero section
==========
*/
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  max-height: 540px;
  background: var(--dark-grey);
  color: white;
  text-align: center;
}
.hero-section h1 {
  font-size: 2rem;
}
.hero-section p {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.hero-text-container {
  max-width: 720px;
}
/* 
==========
why section
========== */

.why-section {
  padding: 4rem;
  max-height: 540px;
}
.why-section h2 {
  font-size: 2rem;
}
.why-section p {
  font-size: 1rem;
  margin: 1rem 0;
}
.why-text-container {
  max-width: 720px;
  text-align: center;
  margin: auto auto;
}

/*==========
column section
========== */
.column-section {
  max-height: 540px;
  background: var(--light-grey);
}
.card {
  width: 50%;
}
.card-img {
  width: 100%;
}
.card-text {
  text-align: center;
  width: 50%;
}
